@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Inconsolata";
    height: 100%;
    overflow: auto;
}
a {
    text-decoration: none;
    color: #382DB6;
}
a:hover {
    text-decoration: underline;
}

/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    color: #272727;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    // padding-top: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 5px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

@import "typography";
